/* Import font families */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans');

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Navbar */
.nav-hidden {
    width: 100%;
    height: 75px;
    visibility: hidden;
}

.nav {
    position: fixed;
    z-index: 9999;
    display: flex;
	width: 100%;
    height: 75px;
    background-color: white;
    justify-content: space-between; 
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    box-shadow: 0 7px 20px -5px rgba(0,0,0,0.2);
}

.dropdown-menu {
    box-shadow: 0 7px 20px -5px rgba(0,0,0,0.2);
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 75px;
    opacity: 0.9;
    justify-content: center;
}

.nav-mobile-icon {
    display: none;
}

.nav-desktop a{
    padding: 25px;
    opacity: 0.5;
}

.nav a {
    font-size: 22px;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

.dropdown-menu ul {
    list-style-type: none;
    font-family: 'Fira Sans', sans-serif;
    padding: 0px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
    opacity: 0.4;
}


.dropdown-menu li {
    padding: 5px 0;
}

.dropdown-menu li a{
    font-size: 20px;
}

.logo {
    padding-left: 20px;
}

.header {
	height: 300px;
	background-image: url("img/background.png");
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    z-index: -1;
}

.header {
    position: relative;
}

/* Aboutme Section */

.about {
    padding: 20px;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

.about p, .featured p, .project p {
    font-family: 'Open Sans', sans-serif;
    padding: 18px;
    letter-spacing: 0.03em;
    line-height: 1.7em;
    text-align: center;
}

.about h2, .about p {
    text-align: unset;
}

#about {
    display: block;
    border-radius: 50%;
    border: 15px solid white;
    float: right;
    margin-top: -140px;
}

/* Project section styling */

.featured, .project {
    background-color: #fafafa;
    padding: 20px;
}

.featured span {
    display: block;
    margin: 0 auto;
}

.featured button, .project button {
    background-color: #a0a0a070;
    color: white;
    border: none;
    display: block;
    margin: 0 auto;
    width: 35%;
    min-height: 50px;
}

.featured-video {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.chrome-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,#5689db,#4d7bd6);
    background-color: #4d7bd6;
    color: white;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset, 0 2px 3px 0 rgba(0,0,0,.2);
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid #2d53af;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    height: 30px;
    width: 157px;
    font-family: 'Open Sans',arial,sans-serif;
}

.projects {
    padding: 5px;
    font-family: 'Fira Sans', sans-serif;
}

.project {
    display: flex;
    border: 4px solid #f1f2f3;
    margin: 10px;
}

.video video {
    display: block;
}

.code-logo {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 35px;
    margin-top: -30px;
    color: rgba(0,0,0,0.5);
    padding-top: 50px;
}



.project-mobile {
    display: none;
}

/* Contact section styling */

.contact h2{
    text-align: center;
    font-family: 'Open Sans',arial,sans-serif;
    padding-top: 35px;
}

.contact {
    background-color: #fafafa;
}

.contact-buttons {
    text-align: center;
    padding: 15px 20px;
    width: 320px;
    height: 160px;
    margin: 0 auto;
}

.contact-buttons a {
    font-size: 50px;
    color: #42b5ff;
    display: inline-block;
    padding: 5px;
}


@media screen and (max-width: 540px) {
    .nav-mobile-icon {
        padding-right: 20px;
        display: block;
    }

    .nav-desktop {
        display: none;
    }
    .project-mobile {
        display: block;
    }
    .project-desktop {
        display: none;
    }
    #about {
        margin: 0 auto;
        float: none;
    }
    .about {
        align-items: center;
        position: relative;
        bottom: 135px;
    }
    .about h2, .about p {
        text-align: center;
    }
    .featured, .projects, .contact {
        position: relative;
        bottom: 135px;
    }

    .item {
        font-family: 'Fira Sans', sans-serif;
    }

    .hide {
        display: none;
    }

    .contact-buttons {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 15px 20px;
        width: 320px;
        height: 160px;
    }

    .contact-buttons a {
        display: inline-block;
    }

}
