/* Import font families */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans');


html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Navbar */
.nav-hidden {
    width: 100%;
    height: 75px;
    visibility: hidden;
}

.nav {
    display: flex;
	width: 100%;
    height: 75px;
    background-color: white;
    justify-content: space-between; 
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

.nav div {
    float: left;
    /* padding-bottom: 30px; */

}

a {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.nav-mobile-icon {
    padding-right: 20px;
}

.logo {
    padding-left: 20px;
}

.header {
	height: 300px;
	background-image: url("img/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header {
    position: relative;
}

/* Aboutme Section */

.about {
    padding: 20px;
}

.about h2, .featured h2, .projects h2 {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.about p, .featured p {
    font-family: 'Open Sans', sans-serif;
    padding: 18px;
    letter-spacing: 0.03em;
    line-height: 1.7em;
    text-align: center;
}

#about {
    display: block;
    border-radius: 50%;
    border: 15px solid white;
}

.featured {
    background-color: #eff8ff;
    padding: 20px;
}

.featured span {
    display: block;
    margin: 0 auto;
}

.featured button {
    background-color: #a5d8f0;
    color: white;
    border: none;
    display: block;
    margin: 0 auto;
    width: 35%;
    min-height: 50px;
    text-transform: uppercase;

}

.chrome-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,#5689db,#4d7bd6);
    background-color: #4d7bd6;
    color: white;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset, 0 2px 3px 0 rgba(0,0,0,.2);
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid #2d53af;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    height: 30px;
    width: 157px;
    font-family: 'Open Sans',arial,sans-serif;
}


@media screen and (max-width: 540px) {
    .nav-desktop {
        display: none;
    }
    #about {
        margin: 0 auto;
    }
    .about {
        align-items: center;
        position: relative;
        bottom: 135px;
        /* justify-content: center; */
    }
    .featured, .projects {
        position: relative;
        bottom: 135px;
    }
}
